.grid-container {
  width: 330px;
  height: 330px;
  background-color: var(--darkgrey);
  border: 3px solid var(--darkgrey);
  border-radius: 0.75rem;
}

.grid-container:hover {
  border-color: var(--green);
  transition: all 0.5s !important;
  transform: scale(1.02) !important;
}

.grid-container-red:hover {
  border-color: var(--red) !important;
  transition: all 0.5s !important;
  transform: scale(1.02) !important;
}

.info-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.symbol-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}

.watchlist-btn {
  background-color: transparent;
  border: none;
  font-size: 100px;
  margin: 10px;
  color: var(--white);
  cursor: pointer;
}


.coin-logo {
  height: 3.5rem;
  width: 3.5rem;
}

.name-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.coin-symbol {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
}

.coin-name {
  color: var(--grey);
  text-transform: capitalize;
  font-weight: light;
  font-size: 1rem;
  margin: 0;
}

/* .star{
   display: ;
} */

.chip-flex {
  display: flex;
  justify-content: flex-start;
  gap: 1.3rem;
  align-items: center;
  margin-left: 1.2rem;
}

.icon-chip {
  border: 2px solid var(--green);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green);
}

.icon-chip-red {
  border: 2px solid var(--red);
  border-radius: 50%;
  height: 2rem !important;
  width: 2rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--red);
}

.price-chip {
  border: 2px solid var(--green);
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  font-weight: 400;
  color: var(--green);
  font-size: 1rem;
  min-width: 64px;
}

.price-chip:hover,
.icon-chip:hover {
  background-color: var(--green);
  color: var(--white);
  transition: all 0.3s;
  font-weight: 500;
}

.chip-red {
  color: var(--red);
  border: 2px solid var(--red);
}

.chip-red:hover,
.icon-chip-red:hover {
  background-color: var(--red);
  color: var(--white);
  transition: all 0.3s;
  font-weight: 500;
}

.info-container {
  margin: 1.5rem;
}

.coin-price {
  color: var(--green);
  font-size: 1.2rem;
  font-weight: 500;
}

.total_volume {
  color: var(--grey);
  font-weight: 500;
  font-size: 0.95rem;
}

.volume-container {
  padding-top: 0.3rem;
}
